@font-face {
    font-family : "NanumSquareR";
    src : url("NanumSquareR.otf") format("opentype");
    src : url("NanumSquareR.ttf") format("truetype");
    src : url("NanumSquareOTF_acR.otf") format("opentype");
    src : url("NanumSquare_acR.ttf") format("truetype");
    font-weight : normal;
}

@font-face {
    font-family : "NanumSquareB";
    src : url("NanumSquareB.otf") format("opentype");
    src : url("NanumSquareB.ttf") format("truetype");
    src : url("NanumSquareOTF_acB.otf") format("opentype");
    src : url("NanumSquare_acB.ttf") format("truetype");
    font-weight : normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "NanumSquareR";
    font-size: 62.5%;
}

body {
    background-color: whitesmoke;
}

.info {
    display: flex;
    align-items: flex-end;
}

.icon {
    margin-left: 15px;
}

#icon {
    width: 30%;
    height: auto;
    max-width: 160px;
    justify-content: end;
}

h3 {
    color: rgb(30, 30, 30);
    font-size: 1.5rem;
}

p {
    color: rgb(30, 30, 30);
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-width: 200px;
    max-width: 150px;
    max-height: 40px;
    margin: 0 auto;
}

.icons {
    position: relative;
    /*
    background-color: white;
    box-shadow: 0px 0px 5px lightgrey;
    */
    border: solid lightgrey 1px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 5px;
}

#icons {
    width: 15px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr {
    height: 1.5px;
    border: 0px;
    background-color: whitesmoke;
    margin-top: 25px;
    margin-bottom: 25px;
}

.square {
    background-color: white;
    box-shadow: 0px 0px 5px lightgrey;
    border-radius: 25px;
    width: 20vw;
    height: auto;
    max-width: 150px;
    min-width: 200px;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}