@font-face {
    font-family: "AppleSDGothicNeoR00-01";
    src: url("AppleSDGothicNeoR00-01.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "AppleSDGothicNeoR00-01";
    font-size: 62.5%;
}

body {
    background-color: RGB(248, 248, 242);
}

.brice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);

    font-size: 1.5rem;
}

.cheese {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    font-size: 1rem;
}

a:link {
    text-decoration: none;
  }